@font-face {
    font-family: "Pliant";
    src:
        local("Pliant Regular"),
        local("Pliant-Regular"),
        url("../../fonts/Pliant-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pliant";
    src:
        local("Pliant Medium"),
        local("Pliant-Medium"),
        url("../../fonts/Pliant-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pliant";
    src:
        local("Pliant Bold"),
        local("Pliant-Bold"),
        url("../../fonts/Pliant-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto Black"),
        local("Roboto-Black"),
        url("../../fonts/Roboto-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Integral CF";
    src:
        local("Integral CF Bold"),
        local("Integral-CF-Bold"),
        url("../../fonts/integral-cf-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
