.page {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    scrollbar-gutter: stable;
}

.page__body {
    min-width: 375px;
    padding-top: 80px;
    /* background-color: var(--bg-color); */
}

@media (width <= 768px) {
    .page__body{
        padding-top: 50px;
    }
}

.page__body--no-scroll{
    overflow-y: hidden;
}
.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}
.hero-container{
    width: min(var(--hero-container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}
a:focus-visible,
button:focus-visible,
input:focus {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
}

img {
    -o-object-fit: cover;
       object-fit: cover;
}   

.text-light,
.text-regular {
    font-size: 17px;
    line-height: 138%;
    color: #00000099;
}
.text-light {
    font-weight: 300;
}
.text-regular {
    font-weight: 400;
}
.title-xs,
.title-sm,
.title-md{
    font-weight: 700;
    color: var(--main-color);
}
.title-xs{
    font-size: 20px;
}

.title-sm{
    /* min-width 375px, max-width 768px */
    font-size: clamp(24px, 1.023rem + 2.04vw, 32px);
}
.title-md {
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}

@media (width < 1240px) {
    .title-md {
        font-size: 42px;
    }
}
@media (width < 992px) {
    .title-md {
        font-size: 38px;
    }
}
@media (width < 768px) {
    .title-md {
        font-size: 34px;
    }
}
@media (width < 576px) {
    .title-md {
        font-size: 30px;
    }
}