:root {

    /* font-family */

    --font-family: "Pliant", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Integral CF", sans-serif;
    
    /* colors */

    --main-color: #000;
    --text-color: #00000099;
    --second-text-color: #fff;
    --title-color: #000;
    --card-background: #f0eeed;
    --section-background: #f0f0f0;
    --discount-color: #00000066;


    --container-width: 1240px;
    --container-padding: 15px;

    --hero-container-width: 1440px;

    /* transitions */
    --transition-time: 0.3s;

    /* layers */
    --negative-layer: -1;
    --layer-0: 0;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
}
