.footer-content {
    display: flex;
    gap: 118px;
}
@media (width <= 992px) {
    .footer-content {
        gap: 60px;
        align-items: center;
    }
}
@media (width <= 768px) {
    .footer-content {
        gap: 30px;
    }
}
@media (width <= 576px) {
    .footer-content {
        flex-direction: column;
    }
}

@media (width > 576px) {
    .footer__info {
        max-width: 248px;
    }
}
.footer__logo {
    display: inline-block;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 33px;
    color: var(--main-color);
}

@media (width > 992px) {
    .footer__logo {
        margin-bottom: 25px;
    }
}
@media (width <= 992px) {
    .footer__logo {
        margin-bottom: 20px;
    }
}
@media (width <= 576px) {
    .footer__logo {
        margin-bottom: 14px;
    }
}

.footer__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: var(--text-color);
}

@media (width > 768px) {
    .footer__info-text {
        line-height: 157%;
        margin-bottom: 35px;
    }
}
@media (width <= 768px) {
    .footer__info-text {
        line-height: 143%;
        margin-bottom: 27px;
    }
}
@media (width <= 576px) {
    .footer__info-text {
        line-height: 143%;
        margin-bottom: 20px;
    }
}

.footer__socials {
    display: flex;
    gap: 12px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--second-text-color);
    border: 1px solid #0000001a;
    color: var(--main-color);
    transition:
        background-color var(--transition-time),
        color var(--transition-time);
}

.footer__social-link:hover {
    background-color: var(--main-color);
    color: var(--second-text-color);
}

/* footer navigation */
.footer__navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
    width: 100%;
}

@media (width <= 768px) {
    .footer__navigation {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer__nav-title {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

@media (width > 768px) {
    .footer__nav-title {
        margin-bottom: 26px;
        font-size: 16px;
        line-height: 113%;
        letter-spacing: 0.19em;
    }
}
@media (width <= 768px) {
    .footer__nav-title {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: 0.21em;
    }
}

@media (width <= 768px) {
    .footer__nav-link {
        font-size: 14px;
        line-height: 114%;
    }
}

.footer__nav-ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-top {
    padding-bottom: 50px;
    border: 1px solid #0000001a;
    width: 100%;
}

.footer__copy {
    font-size: 14px;
}
.footer-bottom__container {
    display: flex;
    padding-block: 20px 80px;
    justify-content: space-between;
}
.footer__payments {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* .footer__payment-item {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.footer__payment-icon {
    width: 47px;
    height: 30px;
    display: block;
    transform: scale(1.35);
}
