.footer {
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  padding: 60px 0 40px;
  text-align: center;
  margin-top: auto;
}
.footer-top {
  border-bottom: 1px solid #d3cbd9;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.footer-ul li {
  list-style: none;
}
.footer-ul li a {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  transition: 0.2s;
}
.footer-ul li a:hover {
  color: #3596ed;
}
.footer-ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}
.foooter-bottom {
  margin-top: 40px;
}
.foooter-bottom p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}
